<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Change your Password <%=email%></h1>
    <form id="changePasswowrd">
      <input type="text" name="password" />
      <input type="text" name="confirmPassword" />
      <button type="submit">change password</button>
    </form>

    <script>
      let changepass = document.getElementById("changePasswowrd");
      changepass.addEventListener("submit", async function (e) {
        e.preventDefault();
        let formData = new FormData(this);
        console.log(formData);
        const rawResponse = await fetch("/changePassword", {
          method: "post",
          body: formData,
        });
        const content = await rawResponse.json();
      });
    </script>
  </body>
</html>
